<div class="projectsItems index">

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1><?php echo __('Projects Items'); ?></h1>
			</div>
		</div><!-- end col md 12 -->
	</div><!-- end row -->



	<div class="row">

		<div class="col-md-3">
			<div class="actions">
				<div class="panel panel-default">
					<div class="panel-heading">Actions</div>
						<div class="panel-body">
							<ul class="nav nav-pills nav-stacked">
								<li><?php echo $this->Html->link(__('<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Projects Item'), array('action' => 'add'), array('escape' => false)); ?></li>
								<li><?php echo $this->Html->link(__('<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;List Users'), array('controller' => 'users', 'action' => 'index'), array('escape' => false)); ?> </li>
		<li><?php echo $this->Html->link(__('<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New User'), array('controller' => 'users', 'action' => 'add'), array('escape' => false)); ?> </li>
		<li><?php echo $this->Html->link(__('<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;List Projects Items'), array('controller' => 'projects_items', 'action' => 'index'), array('escape' => false)); ?> </li>
		<li><?php echo $this->Html->link(__('<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Parent Projects Item'), array('controller' => 'projects_items', 'action' => 'add'), array('escape' => false)); ?> </li>
							</ul>
						</div><!-- end body -->
				</div><!-- end panel -->
			</div><!-- end actions -->
		</div><!-- end col md 3 -->

		<div class="col-md-9">
			<table cellpadding="0" cellspacing="0" class="table table-striped">
				<thead>
					<tr>
						<th><?php echo $this->Paginator->sort('id'); ?></th>
						<th><?php echo $this->Paginator->sort('name'); ?></th>
						<th><?php echo $this->Paginator->sort('necessary_time'); ?></th>
						<th><?php echo $this->Paginator->sort('deliverables'); ?></th>
						<th><?php echo $this->Paginator->sort('description'); ?></th>
						<th><?php echo $this->Paginator->sort('planned_end_date'); ?></th>
						<th><?php echo $this->Paginator->sort('real_end_date'); ?></th>
						<th><?php echo $this->Paginator->sort('start_date'); ?></th>
						<th><?php echo $this->Paginator->sort('user_id'); ?></th>
						<th><?php echo $this->Paginator->sort('parent_id'); ?></th>
						<th><?php echo $this->Paginator->sort('lft'); ?></th>
						<th><?php echo $this->Paginator->sort('rght'); ?></th>
						<th><?php echo $this->Paginator->sort('type'); ?></th>
						<th class="actions"></th>
					</tr>
				</thead>
				<tbody>
				<?php foreach ($projectsItems as $projectsItem): ?>
					<tr>
						<td><?php echo h($projectsItem['ProjectsItem']['id']); ?>&nbsp;</td>
						<td><?php echo h($projectsItem['ProjectsItem']['name']); ?>&nbsp;</td>
						<td><?php echo h($projectsItem['ProjectsItem']['necessary_time']); ?>&nbsp;</td>
						<td><?php echo h($projectsItem['ProjectsItem']['deliverables']); ?>&nbsp;</td>
						<td><?php echo h($projectsItem['ProjectsItem']['description']); ?>&nbsp;</td>
						<td><?php echo h($projectsItem['ProjectsItem']['planned_end_date']); ?>&nbsp;</td>
						<td><?php echo h($projectsItem['ProjectsItem']['real_end_date']); ?>&nbsp;</td>
						<td><?php echo h($projectsItem['ProjectsItem']['start_date']); ?>&nbsp;</td>
								<td>
			<?php echo $this->Html->link($projectsItem['User']['name'], array('controller' => 'users', 'action' => 'view', $projectsItem['User']['id'])); ?>
		</td>
								<td>
			<?php echo $this->Html->link($projectsItem['ParentProjectsItem']['name'], array('controller' => 'projects_items', 'action' => 'view', $projectsItem['ParentProjectsItem']['id'])); ?>
		</td>
						<td><?php echo h($projectsItem['ProjectsItem']['lft']); ?>&nbsp;</td>
						<td><?php echo h($projectsItem['ProjectsItem']['rght']); ?>&nbsp;</td>
						<td><?php echo h($projectsItem['ProjectsItem']['type']); ?>&nbsp;</td>
						<td class="actions">
							<?php echo $this->Html->link('<span class="glyphicon glyphicon-search"></span>', array('action' => 'view', $projectsItem['ProjectsItem']['id']), array('escape' => false)); ?>
							<?php echo $this->Html->link('<span class="glyphicon glyphicon-edit"></span>', array('action' => 'edit', $projectsItem['ProjectsItem']['id']), array('escape' => false)); ?>
							<?php echo $this->Form->postLink('<span class="glyphicon glyphicon-remove"></span>', array('action' => 'delete', $projectsItem['ProjectsItem']['id']), array('escape' => false), __('Are you sure you want to delete # %s?', $projectsItem['ProjectsItem']['id'])); ?>
						</td>
					</tr>
				<?php endforeach; ?>
				</tbody>
			</table>

			<p>
				<small><?php echo $this->Paginator->counter(array('format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')));?></small>
			</p>

			<?php
			$params = $this->Paginator->params();
			if ($params['pageCount'] > 1) {
			?>
			<ul class="pagination pagination-sm">
				<?php
					echo $this->Paginator->prev('&larr; Previous', array('class' => 'prev','tag' => 'li','escape' => false), '<a onclick="return false;">&larr; Previous</a>', array('class' => 'prev disabled','tag' => 'li','escape' => false));
					echo $this->Paginator->numbers(array('separator' => '','tag' => 'li','currentClass' => 'active','currentTag' => 'a'));
					echo $this->Paginator->next('Next &rarr;', array('class' => 'next','tag' => 'li','escape' => false), '<a onclick="return false;">Next &rarr;</a>', array('class' => 'next disabled','tag' => 'li','escape' => false));
				?>
			</ul>
			<?php } ?>

		</div> <!-- end col md 9 -->
	</div><!-- end row -->


</div><!-- end containing of content -->